.error {
    color:red;
}
footer#page_footer{
    background: #F9F6F6;
    padding-top: 15px;
    padding-bottom: 15px;
}
p#reg-link{
    margin-top: 15px;
}
.jumbotron{
    background: #b9b9b9;
}
hr{
    border-top: 1px solid #000000;
}